.ProfileEdit .avatar {
  height: 240px;
  width: 240px;
  margin-bottom: 10px;
}

.ProfileEdit .heading {
  font-weight: bold;
}

.ProfileEdit .interests .item img,
.ProfileEdit .interests .item span {
  vertical-align: middle;
}

.ProfileEdit .interests .item img {
  height: 16px;
  width: 16px;
  margin-left: 5px;
}

.ProfileEdit .interests .item input {
  margin-right: 5px;
}

.ProfileEdit .interests .item span {
  font-size: 0.9em;
}



