.Profile {
  color: #333;
}

.Profile .avatar {
  height: 240px;
  width: 240px;
  margin-bottom: 10px;
}

.Profile .name {
  font-size: 1.6em;
  font-weight: bold;
}

.Profile .email, .Profile .statistics {
  font-size: 1.2em;
  line-height: 1.4em;
}

.Profile .actions {
  margin-top: 20px;
}

.Profile .heading {
  font-weight: bold;
}


.Profile .teams {
  margin-bottom: 20px;
}

.Profile .teams .item img,
.Profile .interests .item img {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  vertical-align: middle;
}


.Profile .teams .item span,
.Profile .interests .item span {
  vertical-align: middle;
  font-size: 0.9em;
}
