.Team .heading {
  background: #f5f5f5;
  margin-bottom: 15px;
  padding: 10px;
}

.Team .heading .name {
  font-size: 1.2em;
  font-weight: bold;
}


.Team .heading .sport {
  line-height: 12px;
}

.Team .heading .sport span {
  font-size: 0.9em;
  font-weight: normal;
  color: #666;
  vertical-align: middle;
}

.Team .heading .sport img {
  height: 16px;
  width: 16px;
  margin-right: 2px;
  vertical-align: middle;
}

.Team .heading .avatar {
  height: 100px;
  weight: 100px;
}

.Team .members .avatar {
  height: 32px;
  width: 32px;
  margin-bottom: 2px;
}

.Team .members .row {
  border-top: solid 1px #f5f5f5;
  padding: 4px 0;
}


.Team .members .row:first-of-type {
  border-style: none;
}
