.ActivityForm .react-datepicker {
  font-size: 11px;
}

.ActivityForm .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    padding-left: 0;
    padding-right: 0;
}

.ActivityForm .react-datepicker__time-container {
  width: 83px;
}

.ActivityForm .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 84px;
}

.ActivityForm #team {
  width: 250px;
}
