footer {
  border-top:solid 1px #e3f2fd;
  font-size: 0.8em;
}

footer .navbar-brand {
  padding: 0;
  font-size: 0;
  line-height: 0;
  background: url(/upmetrics_logo_icon.png) center center no-repeat;
  width: 20px;
  height: 16px;
  background-size: contain;
}

