header .main-nav {
  background-color: #e3f2fd;
}

header .navbar-brand {
  padding: 0;
  font-size: 0;
  line-height: 0;
  background: url(/upmetrics_horizontal.png) center center no-repeat;
  width: 138px;
  height: 45px;
  background-size: contain;
}

